.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.skeleton {
  flex: 1;
  overflow-y: auto;
}

.stack {
  flex: 1;
  overflow: hidden;
}

.gridWrapper {
  flex: 1;
  overflow-y: auto;
}

.pagination {
  padding-top: var(--mantine-spacing-md);
}
